---
---
<!DOCTYPE html>
<!--
  Use this layout for generic pages in the workshop website.
  Use 'workshop.html' for the workshop home page.

  Remember to set the variable 'root' in the header of the actual page.
-->
<html>
  <head>
    <title>Bioinformatics</title>
    {% include header.html %}
  </head>
  <body class="workshop">
    <div class="container card">
      <h1>Bioinformatics</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{content}}
              <hr>
    Much of the information and page setup for this site was borrowed and modified from <a href = http://software-carpentry.org>Software Carpentry</a>
        </div>
      </div>
    </div>
    {% include javascript.html %}
  </body>
</html>
